selenium>=4.32.0
webdriver-manager>=4.0.2
beautifulsoup4>=4.13.4
requests>=2.32.3
python-dotenv>=1.1.0
boto3>=1.38.19
langchain>=0.3.25
langchain-openai>=0.3.17
langchain-core>=0.3.60
langchain-text-splitters>=0.3.8
langchain-community>=0.3.24
langchain-pinecone>=0.2.6
langgraph>=0.4.5
pinecone>=6.0.2
pinecone-plugin-interface>=0.0.7
pydantic>=2.11.4
openai>=1.79.0
tiktoken>=0.9.0
python-dateutil>=2.9.0
tavily-python>=0.7.2
numpy>=2.2.6